$color-border: rgba(9, 30, 66, 0.08);
$error: rgb(255, 0, 0);

.input-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   align-items: baseline;
   p {
      margin: 0;
   }
}

.input-light,
.input-filled,
.button {
   padding: 0 1.25rem;
   height: 40px;
   outline: none;
   border-radius: 5px;
   border: none;
   border: 2px solid $color-border;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.input-filled,
.input-light {
   width: 100%;
   max-width: 40rem;
   transition: border-color 0.25s;
}

.input-light {
   background: var(--jwm-background-neutral);
   &:focus {
      border-color: var(--jwm-color-text-selected);
   }
}

.input-filled {
   background: var(--jwm-color-link);
   color: white;
}

.input-error {
   border-color: $error;
}

.input-error-message {
   color: $error;
}

.button {
   width: fit-content;
   transition: background-color 0.25s;
   svg {
      width: 1rem;
      height: fit-content;
   }
}

.button-light {
   background: var(--jwm-background-neutral);
   &:hover,
   &:focus {
      background: var(--jwm-background-surface);
   }
}

.button-filled {
   background-color: var(--jwm-color-link);
   color: white;
   &:hover,
   &:focus {
      background-color: var(--jwm-color-link-pressed);
   }
}

.button-disabled {
   background-color: var(--jwm-color-text-disabled);
   color: gray;
   cursor: not-allowed;
}

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}
