@import 'normalize.css';

:root {
   // Color
   --jwm-background-header: #ffffff;
   --jwm-background-neutral: var(--ds-background-neutral, rgba(9, 30, 66, 0.04));
   --jwm-background-surface: #ffffff;
   --jwm-color-border: var(--ds-border, rgba(9, 30, 66, 0.08));
   --jwm-color-icon-danger: var(--ds-icon-danger, #ff7452);
   --jwm-color-icon-info: var(--ds-icon-information, #2684ff);
   --jwm-color-icon-star: #ffab00;
   --jwm-color-icon-success: var(--ds-icon-success, #57d9a3);
   --jwm-color-icon-warning: var(--ds-icon-warning, #ffc400);
   --jwm-color-link: var(--ds-link, #0c66e4);
   --jwm-color-link-pressed: var(--ds-link-pressed, #0055cc);
   --jwm-color-text: var(--ds-text, #172b4d);
   --jwm-color-text-selected: var(--ds-text-selected, #0052cc);
   --jwm-color-text-subtle: var(--ds-text-subtle, #42526e);
   --jwm-color-text-subtlest: var(--ds-text-subtlest, #626f86);
   --jwm-color-text-disabled: var(--ds-text-disabled, #091e424f);

   // with, height
   --rightSidebarWidth: 0px;
   --leftSidebarWidth: 240px;
   --leftPanelWidth: 0px;
   --topNavigationHeight: 56px;

   --jwm-content-height: calc(100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) - 95px);
   --jwm-content-width: calc(
      100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) - var(--rightPanelWidth, 0px) -
         var(--rightSidebarWidth, 0px)
   ) !important;
   --jwm-wrapper-background: unset;
   --jwm-wrapper-border-radius: 0;
   --jwm-wrapper-height: calc(100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) - 95px);
   --jwm-wrapper-padding: 0;
   --jwm-wrapper-width: calc(
      100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) - var(--rightPanelWidth, 0px) -
         var(--rightSidebarWidth, 0px)
   ) !important;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   color: var(--ds-text, #172b4d);
   line-height: 20px;
}
a {
   text-decoration: none;
   color: inherit;
}
ul {
   list-style: none;
}
.container-fluid {
   margin-right: auto;
   margin-left: auto;
   min-width: 100%;
   padding-left: 16px;
   padding-right: 16px;
}
.modal-top {
   display: flex;
   width: 20pc;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   flex-direction: column;
   padding: 6px 0;
}
.modal-bottom {
   padding: 6px 0;
   border-block-start: 2px solid var(--ds-menu-seperator-color, var(--ds-border, rgba(9, 30, 66, 0.08)));
   flex-shrink: 0;
   padding: 6px 0;
}
.modal-title {
   text-align: start;
   margin-block: 20px 6px;
   margin-block-start: 14px;
   color: var(--ds-text-subtle, #5e6c84);
   font-size: 11px;
   font-weight: var(--ds-font-weight-bold, 700);
   line-height: 1.45455;
   padding-block: var(--ds-space-0, 0px);
   padding-inline: var(--ds-space-200, 16px);
   text-transform: uppercase;
}
small {
   font-size: 0.7857142857142857em;
   font-style: inherit;
   line-height: 1.4545454545454546;
   color: var(--ds-text-subtlest, var(--ds-text-subtlest, #6b778c));
   margin-top: 16px;
   font-weight: normal;
}
.home-title {
   margin: var(--ds-space-300, 24px) 0 var(--ds-space-200, 16px) 0;
}
.flex-start {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
}
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.home-title-header {
   min-width: 0px;
   max-width: 100%;
   margin-bottom: var(--ds-space-100, 8px);
   flex: 1 0 auto;
   h1 {
      font-size: 24px;
      font-style: inherit;
      color: var(--ds-text, var(--ds-text, #172b4d));
      font-weight: var(--ds-font-weight-medium, 500);
      letter-spacing: -0.01em;
      margin-top: 0px;
      line-height: var(--ds-font-lineHeight-500, 32px);
      outline: none;
   }
}
.text-link {
   color: var(--ds-link, #0052cc);
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}
.text-end {
   text-align: end;
}
.pst-rlt {
   position: relative;
}
.form-input {
   display: inline-block;
   box-sizing: border-box;
   max-width: 100%;
   border: 2px solid transparent;
   border-radius: 3px;
   transition: background 0.2s ease 0s;
   width: 100%;
   position: relative;
   &:focus-within {
      background-color: var(--ds-background-input-pressed, #ffffff);
      border-color: var(--ds-border-focused, #2684ff);
      .formSaveInfo {
         display: block;
      }
   }
   .input {
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 6px 8px 8px;
      line-height: 20px;
      font-size: 14px;
      overflow-wrap: break-word;
      word-break: break-word;
      color: inherit;
      &:hover {
         background: var(--ds-background-neutral-subtle-hovered, #ebecf0);
      }
   }
}
.form {
   margin: var(--ds-space-150, 12px) 0 0 0;
}
.search {
   height: 32px;
   margin-left: var(--ds-space-100, 0);
   .field-edit {
      margin: 0;
      .form-input {
         border: 2px solid var(--ds-border-input, #dfe1e6);
         &:focus-within {
            background-color: var(--ds-background-input-pressed, #ffffff);
            border-color: var(--ds-border-focused, #2684ff);
            .formSaveInfo {
               display: block;
            }
         }
         .input {
            &:hover {
               background: transparent;
            }
         }
         .paddingLeft {
            padding: 0px var(--ds-space-150, 12px) 0px 30px;
         }
      }
   }
   .form {
      margin: 0;
   }
}
.errorValidate {
   .field-edit {
      .error {
         transition: all 0.1s linear 0s;
         opacity: 1;
         background: rgb(255, 255, 255);
         border-color: rgb(222, 53, 11);
      }
   }
}
.successValidate {
   .field-edit {
      .success {
         transition: all 0.1s linear 0s;
         opacity: 1;
         background: rgb(255, 255, 255);
         border-color: rgb(54, 179, 126);
      }
   }
}

.header-title {
   min-width: 0px;
   max-width: 100%;
   margin-bottom: var(--ds-space-100, 8px);
   flex: 1 1 auto;
   h1 {
      font-size: 24px;
      font-style: inherit;
      color: var(--ds-text, var(--ds-text, #172b4d));
      font-weight: var(--ds-font-weight-medium, 500);
      letter-spacing: -0.24px;
      margin-top: 0px;
      line-height: var(--ds-font-lineHeight-500, 32px);
      outline: none;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}
