tr.row {
   height: 3pc;
   width: 100%;
   border-bottom: 2px solid var(--ds-border, #dfe1e6);
   &:hover {
      background-color: var(--ds-background-neutral-subtle-hovered, #091e420a);
   }
   td {
      padding: 4px 8px;
   }
}
.block {
   display: flex;
   line-height: 20px;
   align-items: center;
   .img {
      margin-right: var(--ds-space-100, 8px);
      span {
         height: 24px;
         width: 24px;
         align-items: stretch;
         background-color: var(--ds-surface-overlay, #ffffff);
         border-radius: 50%;
         box-sizing: content-box;
         cursor: inherit;
         display: flex;
         flex-direction: column;
         justify-content: center;
         outline: none;
         overflow: hidden;
         position: static;
         transform: translateZ(0px);
         transition: transform 200ms ease 0s, opacity 200ms ease 0s;
         box-shadow: 0 0 0 2px var(--ds-surface-overlay, #ffffff);
         border: none;
         margin: var(--ds-space-025, 2px);
         padding: var(--ds-space-0, 0px);
         font-size: inherit;
         font-family: inherit;
         img {
            display: flex;
            width: 100%;
            height: 100%;
            flex: 1 1 100%;
         }
      }
   }
   .name {
      color: var(--ds-link, #0052cc);
      &:hover {
         text-decoration: underline;
         cursor: pointer;
      }
   }
}
.menu-icon {
   position: relative;
}
