$subtext-color: gray;
$task-container-background: #f4f5f7;
$color-border: rgba(9, 30, 66, 0.08);

.flex-1 {
   flex: 1;
   min-width: 25vw;
   padding: 0.5rem;
   border-right: 1px solid $color-border;
   border-left: 1px solid $color-border;
}

.sprint-buttons {
   display: flex;
   gap: 0.2rem;
   button {
      padding: 0.5rem;
      font-weight: 600;
   }
}

.board {
   height: calc(100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)));
   overflow: hidden;
   box-sizing: border-box;
   background: var(--ds-surface, #ffffff);
   display: flex;
   .wrapper-board {
      display: flex;
      width: 100%;
      flex-direction: column;
   }
   .header {
      h3 {
         font-size: 1.75rem;
      }
      p {
         color: $subtext-color;
      }
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      .actions {
         display: flex;
         justify-content: right;
         align-items: center;
         gap: 1rem;
         img {
            width: 1rem;
         }
         button {
            font-size: 1rem;
         }
      }
   }

   .search-user-input {
      width: 9rem;
      &:focus {
         width: 15rem;
      }
   }

   .member-btn {
      font-size: 1.2rem;
      height: fit-content;
      padding: 0.5rem;
      border-radius: 50%;
      svg,
      img {
         width: 1.2rem;
      }
   }

   .task-board {
      position: relative;
      height: 75vh;
      overflow: auto;
   }

   .task-status {
      position: sticky;
      top: 0;
      display: flex;
      gap: 1rem;
      div {
         @extend .flex-1;
         font-weight: 600;
         text-transform: uppercase;
         border-radius: 5px 5px 0 0px;
         border-top: 1px solid $color-border;
         background-color: $task-container-background;
      }
   }

   .task-state {
      width: 16rem;
      padding: 1rem;
      border-radius: 1rem;
      border: 2px solid $color-border;
      background-color: $task-container-background;
      .state-title {
         font-size: 1.25rem;
         font-weight: bold;
      }
   }

   .task-display {
      min-height: 50vh;
      width: 100%;

      .main-task {
         width: 100%;
         padding: 0.5rem 1rem;
         background-color: white;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         span {
            font-weight: 600;
         }
      }

      .sub-tasks-container {
         display: flex;
         gap: 1rem;
         .sub-tasks {
            @extend .flex-1;
            background-color: $task-container-background;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-height: 10rem;
         }

         .final {
            border-bottom: 1px solid $color-border;
            border-radius: 0 0 5px 5px;
         }
      }
   }
}

.task {
   padding: 0.5rem !important;
   border-radius: 3px;
   align-items: baseline !important;
   p {
      &:hover {
         text-decoration: underline;
      }
   }
   .metadata {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.25rem;
      width: 100%;
      svg {
         width: 1rem;
         color: orange;
      }
      img {
         width: 2rem;
         border-radius: 50%;
      }
      span {
         display: flex;
         gap: 0.25rem;
         align-items: center;
      }
   }
}

// Issue Icon

.issue-icon {
   width: 1rem;
   height: 1rem;
   padding: 0.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
}

.icon-bug {
   background-color: #e5493a;
}

.icon-epic {
   background-color: #904ee2;
}

.icon-story {
   background-color: #63ba3c;
}

.icon-task {
   background-color: #4bade8;
}

.icon-subtask {
   background-color: #4baee8;
   padding: 0.1rem;
}
.section-board {
   display: flex;
   flex-flow: row;
   -webkit-box-pack: start;
   justify-content: flex-start;
   -webkit-box-align: stretch;
   align-items: center;
   user-select: none;
   min-width: fit-content;
   gap: 0px;
   .section-left {
      left: 0px;
      margin-left: -40px;
      box-shadow: 0 80px 0 var(--ds-shadow-overflow-spread, #091e4229),
         5px -2px 7px var(--ds-shadow-overflow-perimeter, #091e421f);
      clip-path: inset(0px -12px 0px 0px);
      background: var(--ds-surface, #ffffff);
      width: 40px;
      position: sticky;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease 0s;
      z-index: 90;
   }
}
.col-board {
   position: relative;
   display: flex;
   flex-direction: column;
   align-self: auto;
   flex: 1 1 auto;
   min-width: 282px;
   max-width: 282px;
   transition: min-width 300ms ease 0s, max-width 300ms ease-in 0s;
   .col-board-main {
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      align-self: auto;
      flex: 1 1 auto;
      margin-left: 6px;
      margin-right: 6px;
      min-width: 270px;
      max-width: 270px;
      box-shadow: initial;
      background-color: var(--ds-background-neutral, #f4f5f7);
      transition: min-width 300ms ease 0s, max-width 300ms ease-in 0s;
      .cgwwdw {
         display: flex;
         flex-direction: column;
      }
      .gftcoT {
         background-color: var(--ds-surface-sunken, #f4f5f7);
         border-radius: 6px;
         position: relative;
         align-self: stretch;
         flex: 1 1 auto;
         transition: opacity 0.2s ease 0s, min-width 300ms ease 0s, max-width 300ms ease-in 0s;
         min-width: 270px;
         max-width: 270px;
      }
   }
}
.hSyVYa {
   position: sticky;
   background: var(--ds-background-neutral, #ffffff);
   top: 0px;
   border-radius: 6px;
}
.hpIWPi {
   height: unset;
   display: flex;
   flex-flow: column;
   -webkit-box-pack: start;
   justify-content: flex-start;
   -webkit-box-align: stretch;
   align-items: stretch;
   z-index: 4;
   .letSNF {
      user-select: none;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      height: 48px;
      position: relative;
      background-color: var(--ds-surface-sunken, #f4f5f7);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      transition: background-color 0.2s ease 0s;
      cursor: grab;
   }
}
.text-board {
   --_6nps2s: var(--ds-space-200, 16px) 0;
   --_16ia0uc: calc(100% - var(--ds-space-400, 32px));
   display: flex;
   justify-content: center;
   padding: var(--_6nps2s);
   align-items: stretch;
   max-width: 100%;
   .dXSenY {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      max-width: 100%;
      h5 {
         font-size: 12px;
         width: 100%;
         white-space: nowrap;
         text-overflow: ellipsis;
         margin-left: 8px;
         color: #626f86;
         font-weight: 500;
      }
   }
}
.col-board-container {
   min-height: 316px;
   background-color: var(--ds-surface-sunken, #f4f5f7);
   margin: var(--ds-space-050, 4px) 5px;
   position: relative;
   flex-grow: 1;
}
.col-board-content {
   display: flex;
   align-items: center;
   padding: var(--ds-space-400, 2pc);
   flex-direction: column;
   img {
      height: 8pc;
      width: 8pc;
   }
   .col-board-title {
      margin-bottom: var(--ds-space-100, 8px);
      font-weight: bold;
      text-align: center;
      font-size: 14px;
   }
   .col-board-desc {
      margin-bottom: var(--ds-space-300, 24px);
      text-align: center;
      font-size: 14px;
   }
}
.bggktO {
   background: none;
   border: none;
   padding: 0 var(--ds-space-100, 8px) 0 0;
   font: inherit;
   cursor: pointer;
   position: sticky;
   -webkit-box-align: center;
   align-items: center;
   display: inline-flex;
   max-width: 822px;
   .img-issue {
      margin-right: var(--ds-space-100, 8px);
      display: flex;
      align-items: center;
      img {
         height: 24px;
      }
   }
   .img-name {
      margin-right: var(--ds-space-100, 8px);
      color: #44546f;
      font-size: 9pt;
      font-weight: 600;
   }
   .img-summary {
      font-size: 14px;
   }
   .img-subtask {
      color: #626f86;
      font-size: 14px;
      margin-left: var(--ds-space-100, 8px);
   }
   .img-status {
      margin-left: var(--ds-space-100, 8px);
      background-color: var(--ds-background-neutral, #dfe1e6);
      padding-inline: var(--ds-space-050, 4px);
      display: inline-flex;
      border-radius: var(--ds-border-radius, 3px);
      block-size: min-content;
      span {
         color: var(--ds-text-subtle, #42526e);
         font-size: 11px;
         font-weight: 700;
      }
   }
}
