.trash-projects {
   padding: 2rem 3rem;
   h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
   }
}

.trash-project-name {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   img {
      width: 1.5rem;
      border-radius: 5px;
   }
}
.project-trash-none{
   
}