.mainProfile {
   width: 100%;
   position: relative;
   overflow: auto;
   max-height: calc(100vh - 56px);
}

.button {
   position: absolute;
   right: 10px;
   top: 6px;
   border: 0;
   background: fixed;
   cursor: pointer;
}
