.mainProfile {
   position: relative;
   .modalSelectImg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(192, 192, 192, 0.3);
      z-index: 100;
      position: fixed;
   }
   .noneModalSelectImg {
      display: none;
   }
   .profileUser {
      .backgroundImgUser {
         width: 100%;
         position: relative;
         .bgrimg {
            width: 100%;
            height: 100%;
            background: var(--ds-background-accent-gray-bolder, #2c3e5d);
            position: relative;
            transition: all 0.25s ease-in-out 0s;
            .imgCover {
               width: 100%;
               height: 100%;
               object-fit: cover;
               opacity: 1;
               transition: all 0.25s ease-in-out 0s;
            }
            .addImg {
               height: 50%;
               opacity: 0;
               cursor: pointer;
               transition: all 3ms ease;
               position: absolute;
               z-index: 1;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               display: flex;
               form {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  svg {
                     width: 36px;
                     height: 36px;
                     color: #fff;
                  }
                  h4 {
                     font-size: 14px;
                     font-weight: 500;
                     color: #fff;
                     font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans',
                        Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
                  }
                  .labelUploadImg {
                     position: absolute;
                     box-shadow: var(
                        --ds-shadow-overlay,
                        0 4px 8px -2px rgba(9, 30, 66, 0.25),
                        0 0 1px rgba(9, 30, 66, 0.31)
                     );
                     display: block;
                     margin-top: 10px;
                     border-radius: 3px;
                     background-color: #fff;
                     width: auto;
                     height: auto;
                     padding: 5px 0;
                     h4 {
                        padding: 10px;
                        font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans',
                           Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #172b4d;
                        &:hover {
                           background-color: rgba(192, 192, 192, 0.3);
                        }
                     }
                  }
               }
            }
            &:hover {
               .addImg {
                  opacity: 1;
               }
               .imgCover {
                  opacity: 0;
                  cursor: pointer;
               }
            }
         }
         .bgrHover {
            .addImg {
               opacity: 1;
            }
            .imgCover {
               opacity: 0;
               cursor: pointer;
            }
         }
         .avatarUser {
            margin-left: 20%;
            position: absolute;
            top: 100%;
            transform: translateY(-75%);
            .bagrAvatar {
               border-radius: 50%;
               background-color: #fff;
               position: relative;
               .avatar {
                  .avatarBackground,
                  .avatarImg {
                     object-fit: cover;
                     width: 95%;
                     height: 95%;
                     border-radius: 50%;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                  }
                  .avatarBackground {
                     background-color: violet;
                     .textAvatarBackground {
                        font-size: 50px;
                        font-weight: 600;

                        font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans',
                           Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                     }
                  }
                  .uploadAvatar {
                     display: none;
                     width: 95%;
                     height: 95%;
                     border-radius: 50%;
                     background: var(--ds-interaction-hovered, rgba(9, 30, 66, 0.36));
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                     .btn-upload-avatar {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover {
                           background: var(--ds-background-neutral-subtle-hovered, rgba(9, 30, 66, 0.08));
                           transition-duration: 0s, 0.15s;
                           color: var(--ds-text, #42526e) !important;
                           cursor: pointer;
                        }
                        svg {
                           width: 28px;
                           height: 28px;
                           color: #fff;
                        }
                     }
                  }
                  &:hover {
                     .uploadAvatar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                     }
                  }
               }
               .ShownUploadImgAvatar {
                  width: 167px;
                  background-color: #fff;
                  border-radius: 3px;
                  border: 0.1px solid #06152d0f;
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  z-index: 10;
                  top: 70%;
                  left: 50%;
                  transform: translateX(-50%);
                  box-shadow: var(
                     --ds-shadow-overlay,
                     0 4px 8px -2px rgba(9, 30, 66, 0.25),
                     0 0 1px rgba(9, 30, 66, 0.31)
                  );
                  p,
                  .labeluploadAvatarImg {
                     margin: 0;
                     padding: 8px 16px;
                     cursor: pointer;
                     font-size: 14px;
                     font-weight: 400;
                     color: #172b4d;
                     h4 {
                        font-size: 14px;
                        font-weight: 500;
                        color: #172b4d;
                     }
                     &:hover {
                        background-color: #091e420f;
                     }
                  }
               }
            }
         }
      }
   }
}
.notShownUploadImg,
.inputUploadFile {
   display: none;
}
@media only screen and (max-width: 1024px) {
   .profileUser {
      .backgroundImgUser {
         .avatarUser {
            margin-left: 5%;
         }
      }
   }
}
