.buttonAnyone {
    .iconAnyone {
        padding: 8px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        .iconleftAnyone {
            display: flex;
            justify-content: center;
            align-items: center;
            .titleAnyone {
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                min-width: 0px;

                max-width: 120px;
                font-style: normal;
                font-family: inherit;
                font-weight: 500;
                color: rgb(195, 193, 193);
            }
        }
    }
}
