.addProfilePhoto {
   display: flex;
   flex-direction: column;
   //    justify-content: center;
   align-items: center;
   gap: 10px;
   min-height: 339px;
   h3 {
      font-size: 0.857143em;
      font-style: inherit;
      line-height: 1.33333;
      color: #626f86;
      font-weight: 600;
   }
   .pictureFrame {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px dashed #02060c0f;
      position: relative;
      img {
         height: auto;
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   .orUpload {
      margin: 0;
      color: #626f86;
      font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
         'Droid Sans', 'Helvetica Neue', sans-serif;
   }
   .buttonUpload {
      cursor: pointer;
      height: 2.28571em;
      line-height: 2.28571em;
      padding: 0px 10px;
      font-weight: 500;
      font-size: inherit;
      color: #172b4d;
      background: var(--ds-background-neutral, #091e420f);
      border-radius: 3px;
      font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
         'Droid Sans', 'Helvetica Neue', sans-serif;
      &:hover {
         background-color: rgb(207, 206, 206);
      }
   }
}
.buttonSubmit {
   display: flex;
   padding: 22px 0 24px;
   position: relative;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: end;
   justify-content: flex-end;
   gap: var(--ds-space-100, 8px);
   :nth-child(2) {
      background-color: #0c66e4;
      color: #fff;
      &:hover {
         background-color: #085bd1;
      }
   }
}
.upfileDisplayNone {
   display: none;
}
