.wrapper {
   .header-project {
      margin: var(--ds-space-300, 24px) 0 var(--ds-space-200, 16px) 0;
      .header-title {
         padding-top: 0.5rem;
         display: flex;
         justify-content: space-between;
         .title-h1 {
            font-size: 1.4rem;
            font-weight: 500;
         }
      }
   }
}
.nav-project {
   margin-top: var(--ds-space-200, 16px);
   .list-nav {
      display: flex;
      align-items: center;
      position: relative;
   }
}
.custom-input {
   width: 120px;
   transition: all 0.3s cubic-bezier(0.15, 1, 0.3, 1) 0s !important;
   padding-right: 25px !important;
   &:focus-within {
      width: 184px;
   }
}
.member {
   margin-left: var(--ds-space-150, 9pt);
   .group-member {
      display: flex;
      align-items: center;
   }
}
.list-member {
   display: flex;
   align-items: center;
}
.btn-add-person {
   margin-left: 8px;
   .custom-btn {
      width: 32px;
      height: 32px;
   }
}

.input-icon {
   width: 1px;
   height: 1px;
   padding: 0px;
   position: fixed;
   border: 0px;
   clip: rect(1px, 1px, 1px, 1px);
   overflow: hidden;
   white-space: nowrap;
}
.item-icon {
   display: inline-flex;
   width: 32px;
   height: 32px;
   img {
      border-radius: var(--ds-border-radius-100, 50%);
      cursor: pointer;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 1px var(--ds-border-inverse, white), 0px 0px 0px 3px var(--ds-border-selected, #fff);
   }
   .active {
      //   box-shadow: 0px 0px 0px 1px var(--ds-border-inverse, white), 0px 0px 0px 3px var(--ds-border-selected, #2684ff);
   }
}
.filter-sprint {
   display: flex;
   margin-left: 8px;
}
