.wrapper {
    min-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0px;
}
section {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 522px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: none;
    color: rgb(94, 108, 132);
    .header {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        margin-bottom: 16px;

        span {
            --logo-color: inherit;
            --logo-fill: currentColor;
            display: inline-block;
            position: relative;
            color: var(--logo-color);
            fill: var(--logo-fill);
            line-height: 1;
            user-select: none;
            white-space: normal;
            height: 40px;
            text-align: center;
            svg {
                height: 100%;
                fill: inherit;
            }
        }
        .header-title {
            display: flex;
            flex-direction: column;
            padding-top: 24px;
            align-items: center;
            h2 {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: rgb(23, 43, 77);
            }
        }
    }
}
.notification {
    .background {
        background: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.519/check-your-email-open-letter.58fc87ea.svg)
            center bottom no-repeat;
        height: 88px;
        margin: 8px 0px 16px;
    }
    .desc {
        text-align: left;
        color: rgb(94, 108, 132);
        font-size: 14px;
    }
    p {
        font-size: 1.14286em;
        font-style: inherit;
        line-height: 1.25;
        color: var(--ds-text, var(--ds-text, #172b4d));
        font-weight: var(--ds-font-weight-semibold, 600);
        letter-spacing: -0.006em;
        margin-top: 8px;
        text-align: left;
        overflow-wrap: break-word;
    }
}
.refund {
    color: rgb(107, 119, 140);
    margin-top: 24px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    a {
        color: var(--ds-link, #0052cc);
        &:hover {
            background: var(--ds-background-neutral-subtle, none);
            text-decoration: underline;
            transition-duration: 0s, 0.15s;
            color: var(--ds-link, #0065ff);
        }
        span {
            font-weight: 400;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            margin: 0px;
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
