.project-access {
   position: relative;
   padding: 0px 24px;
}
.access-container {
   --ds-columns-num: 12;
   --ds-grid-spacing: 16px;
   display: flex;
   margin: 0px auto;
   padding: 0 calc(var(--ds-grid-spacing) / 2);
   position: relative;
   align-items: flex-start;
   flex-wrap: wrap;
   max-width: calc(var(--ds-columns-num) * 80px);
}
.access-wrapper {
   --ds-column-span: auto;
   min-width: calc((99.9999% / var(--ds-columns-num)) - var(--ds-grid-spacing));
   margin: 0 calc(var(--ds-grid-spacing) / 2);
   -webkit-box-flex: 1;
   flex: 1 0 auto;
   overflow-wrap: break-word;
   max-width: calc(100% - var(--ds-grid-spacing));
}
.access-main {
   .access-header {
      margin: var(--ds-space-300, 16px) 0 var(--ds-space-200, 16px) 0;
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      h1 {
         min-width: 0px;
         max-width: 100%;
         margin-bottom: var(--ds-space-100, 8px);
         flex: 1 1 auto;
         font-size: 24px;
         font-weight: 500;
         letter-spacing: -0.24px;
         line-height: 28px;
      }
   }
}
.container-table {
   border-collapse: collapse;
   margin-bottom: 10px;
   width: 100%;
}
