.ProfileAndVisibility {
   width: 65%;
   padding-bottom: 100px;
   padding-top: 50px;
   margin: 0 auto;
   .headerWorkOn {
      margin-bottom: 10px;
      font-weight: 400;
      color: #44546f;
      font-size: 16px;
      font-style: normal;
      font-family: 'Charlie Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
         'Droid Sans', 'Helvetica Neue', sans-serif;
      .linkProfile {
         cursor: pointer;
         &:hover {
            color: #2684ff;
         }
      }
   }
   .titleProfileAndVisibility {
      font-size: 24px;
      font-style: inherit;
      color: rgb(23, 43, 77);
      font-weight: var(--ds-font-weight-medium, 500);
      letter-spacing: -0.24px;
      margin-top: 0px;
      line-height: var(--ds-font-lineHeight-500, 32px);
      outline: none;
   }
   .text-setting {
      margin: 12px 0px;
      font-size: 14px;
      font-weight: 400;
      color: rgb(23, 43, 77);
   }
   .SeeDetails {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
         'Helvetica Neue', sans-serif;
      color: #0052cc;
      span {
         color: var(--ds-text, #172b4d);
      }
   }
   .ProfilePhotoAndHeaderImage {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
         'Helvetica Neue', sans-serif;
      font-size: 16px;
      font-style: inherit;
      line-height: 1.25;
      color: var(--ds-text, var(--ds-text, #172b4d));
      font-weight: var(--ds-font-weight-semibold, 600);
      letter-spacing: -0.096px;
      margin-top: var(--ds-space-400, 32px);
      margin-bottom: var(--ds-space-200, 16px);
   }
   .ProfileHeaderImg {
      box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
      .anyone {
         display: flex;
         justify-content: flex-end;
         height: 112px;
         .anyoneYourProfile {
            width: 200px;
            padding: 10px;
         }
      }
   }
   .aboutYou {
      padding: 20px;
      border-radius: 3px;
      box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
      .whoSee {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
         .gender {
            .selectGenderTitle {
               padding: 0 8px 6px 8px;
               display: flex;
               flex-direction: column;

               gap: 20px;
               .selectGender {
                  padding: 0 8px;
                  .genderUser {
                     line-height: 20px;
                     color: inherit;
                     font-size: 14px;
                     font-weight: 400;

                     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans',
                        'Droid Sans', 'Helvetica Neue', sans-serif;
                  }
                  .select {
                     height: 30px;
                     width: 100%;
                     border-radius: 3px;
                     outline: none;
                     border: none;
                     .opacity {
                        color: rgb(218, 217, 217);
                        cursor: not-allowed;
                     }
                     &:focus-within {
                        border: 2px solid #2684ff;
                     }
                  }
               }
               .titleGender {
                  font-weight: 600;
                  font-size: 12px;
                  color: var(--ds-text-subtle, #6b778c);
                  line-height: var(--ds-space-200, 16px);
                  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans',
                     'Droid Sans', 'Helvetica Neue', sans-serif;
               }
            }

            .canSee {
               width: 40%;
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
            }
         }
         .childrenAboutYouEmail {
            padding: 0 8px 8px 8px;
            display: flex;
            flex-direction: column;
            .emailAddress {
               font-weight: 600;
               font-size: 12px;
               color: var(--ds-text-subtle, #6b778c);
               line-height: var(--ds-space-200, 16px);
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans',
                  'Droid Sans', 'Helvetica Neue', sans-serif;
            }
            .infoEmailAddress {
               padding: 8px 6px 8px 8px;
               cursor: not-allowed;
               line-height: 20px;
               font-size: 14px;
               font-weight: 400;
               overflow-wrap: break-word;
               word-break: break-word;
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans',
                  'Droid Sans', 'Helvetica Neue', sans-serif;
            }
         }
      }
   }
}
.seeYourProfile {
   margin: 0;
   font-size: 11px;
   line-height: var(--ds-space-200, 16px);
   margin-bottom: var(--ds-space-100, 8px);
   padding-left: var(--ds-space-100, 8px);
}
@media only screen and (max-width: 1024px) and (min-width: 640px) {
   .ProfileAndVisibility {
      width: 80%;
      margin: 0 auto;
   }
}
@media only screen and (max-width: 640px) {
   .ProfileAndVisibility {
      width: 90%;
      margin: 0 auto;
   }
}
