.form-input {
   display: inline-block;
   position: relative;
   width: 100%;
   .input {
      transition: all 0.3s cubic-bezier(0.15, 1, 0.3, 1) 0s;
      border: none;
      outline: none;
      padding: 8px 6px 8px 8px;
      line-height: 20px;
      font-size: 14px;
      overflow-wrap: break-word;
      word-break: break-word;
      color: inherit;
      transition: background 0.2s ease 0s;
      border: 2px solid transparent;
      border-radius: 3px;
      &:focus-within {
         background-color: var(--ds-background-input-pressed, #ffffff);
         border-color: var(--ds-border-focused, #2684ff);
      }
   }
}
.form-input {
   .search {
      transition: background 0.2s ease 0s;
      border: 2px solid var(--ds-border-input, #dfe1e6);
      .input {
         &:hover {
            background: transparent;
         }
      }
      .paddingLeft {
         padding: 0px var(--ds-space-150, 12px) 0px 30px;
      }
   }
}

.left-icon {
   top: 8px;
   left: 8px;
}
.input-icon {
   width: 16px;
   height: 16px;
   position: absolute;
   color: var(--ds-text-subtlest, #6b778c);
   span {
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 0;
      svg {
         --icon-primary-color: var(--ds-text-subtlest, #6b778c);
         --icon-secondary-color: var(--ds-surface, #ffffff);
         width: 16px;
         height: 16px;
         overflow: hidden;
         pointer-events: none;
         max-width: 100%;
         max-height: 100%;
         color: var(--icon-primary-color);
         fill: var(--icon-secondary-color);
         vertical-align: bottom;
      }
   }
}
.right-icon {
   top: 50%;
   transform: translateY(-50%);
   right: 8px;
}
