.wrapper {
    flex-grow: 1;
    margin-left: var(--ds-space-100, 8px);
}
.field-wrapper {
    display: flex;
    align-items: flex-start;
    color: var(--ds-text, #172b4d);
}
.form-wrapper {
    width: 100%;
    margin-right: -8px;
    display: flex;
    flex-direction: column;
    label {
        font-size: 12px;
        color: var(--ds-text-subtle, #6b778c);
        line-height: var(--ds-space-200, 16px);
        vertical-align: middle;
        margin-bottom: var(--ds-space-050, 4px);
        span {
            font-weight: 600;
            font-size: 12px;
            color: var(--ds-text-subtle, #6b778c);
            line-height: var(--ds-space-200, 16px);
        }
    }
}
.field-edit {
    margin: -var(--ds-space-100, 8px) var(--ds-space-100, 8px) 0 -var(--ds-space-100, 8px);
    .form {
        margin: var(--ds-space-150, 12px) 0 0 0;

        .form-input {
            display: inline-block;
            box-sizing: border-box;
            max-width: 100%;
            border: 2px solid transparent;
            border-radius: 3px;
            transition: background 0.2s ease 0s;
            width: 100%;
            position: relative;
            &:focus-within {
                background-color: var(--ds-background-input-pressed, #ffffff);
                border-color: var(--ds-border-focused, #2684ff);
                .formSaveInfo {
                    display: block;
                }
            }
            .input {
                width: 100%;
                border: none;
                outline: none;
                padding: 8px 6px 8px 8px;
                line-height: 20px;
                font-size: 14px;
                overflow-wrap: break-word;
                word-break: break-word;
                color: inherit;
                &:hover {
                    background: var(--ds-background-neutral-subtle-hovered, #ebecf0);
                }
            }
            .formSaveInfo {
                display: none;
                .saveInfo {
                    padding-top: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 5px;
                    position: absolute;
                    z-index: 10;
                    top: 90%;
                    .buttonClose,
                    .buttonSave {
                        cursor: pointer;
                        background-color: #fff;
                        padding: 6px 8px 4px 8px;
                        border: 1px solid #0208120f;
                        border-radius: 3px;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}
.inputClass {
    background-color: transparent;
    border: 0px;
    box-sizing: border-box;
    color: inherit;
    cursor: inherit;
    font-size: 14px;
    min-width: 0px;
    outline: none;
    width: 100%;
    line-height: 1.42857;
    padding: var(--ds-space-100, 8px) var(--ds-space-075, 6px);
}
.noneformSaveInfo {
    display: none;
}
.search {
    height: 32px;
    .field-edit {
        margin: 0;
        .form {
            margin: 0;
            .form-input {
                border: 2px solid var(--ds-border-input, #dfe1e6);
                .input {
                    &:hover {
                        background: transparent;
                    }
                }
                .paddingLeft {
                    padding: 0px var(--ds-space-150, 12px) 0px 30px;
                }
            }
        }
    }
}

.left-icon {
    top: 8px;
    left: 8px;
}
.input-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    color: var(--ds-text-subtlest, #6b778c);
    span {
        width: 16px;
        height: 16px;
        display: inline-block;
        line-height: 0;
        svg {
            --icon-primary-color: var(--ds-text-subtlest, #6b778c);
            --icon-secondary-color: var(--ds-surface, #ffffff);
            width: 16px;
            height: 16px;
            overflow: hidden;
            pointer-events: none;
            max-width: 100%;
            maxheight: 100%;
            color: var(--icon-primary-color);
            fill: var(--icon-secondary-color);
            vertical-align: bottom;
        }
    }
}
.right-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}
