.modalSelect {
    width: 450px;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 30px 20px 30px;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width: 1024px) and (min-width: 640px) {
    .modalSelect {
        width: 350px;
    }
}

@media only screen and (max-width: 640px) {
    .modalSelect {
        width: 300px;
    }
}
