.wrapper {
   inset: 0px auto auto 0px;
   display: block;
   box-sizing: border-box;
   z-index: 40;
   flex: 1 1 auto;
   background-color: var(--ds-surface-overlay, #ffffff);
   border-radius: var(--ds-border-radius, 3px);
   --ds-elevation-surface-current: var(--ds-surface-overlay, #ffffff);
   .width {
      min-width: var(--_1d8u6ab);
      .height {
         display: flex;
         position: static;
         flex-direction: column;
      }
   }
}
.popup {
   display: none;
}
.open {
   display: block;
}
